{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Création d'un nouveau article{% endblock %}

{% block body %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/articleshome">Blog d'Amira</a></h1>
						<nav class="links">
						    <ul>
								<li><a href="/articleshome/showall">Mes articles</a></li>
								<li><a href="/articleshome/create">Ecrire un article</a></li>
							</ul>
						</nav>
					</header>
    <div class="container">
        <h1>Créer un nouveau article</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>
{% endblock %}